<!DOCTYPE html>
<html>
<head>
    <title>Generador de Gráficas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Generador de Gráficas</h1>

    <form method="post" enctype="multipart/form-data" action="{{ url_for('matplt.gener') }}">
        <div name="formulario" id="formulario">
            
        <div id="conf_inicial" class="colores">
         
                <label for="archivo">Subir archivo CSV o Excel:</label>
                <input type="file" name="archivo" accept=".csv, .xlsx">
                <input type="text" name="array_escondido" id="array_escondido" {% if array %} value="{{ array }}" {% endif %} style="display: none;">
                <input type="text" name="uii_oculto" id="uii_oculto" value="{{ uuid_r }}" style="display: none;">

                

                
                <div>
                    <label for="tipo_grafica">Tipo de Gráfica:</label>
                    <select name="tipo_grafica">
                        <option value="--">---</option>
                        <option value="barras" {% if tipo_grafica_seleccionada == 'barras' %}selected{% endif %}>Gráfico de Barras</option>
                        <option value="dispersion" {% if tipo_grafica_seleccionada == 'dispersion' %}selected{% endif %}>Gráfico de Dispersión</option>
                        <option value="pastel" {% if tipo_grafica_seleccionada == 'pastel' %}selected{% endif %}>Gráfico de Pastel</option>
                        <option value="linea" {% if tipo_grafica_seleccionada == 'linea' %}selected{% endif %}>linea</option>
                    </select>
                </div>

                <!--opciones generales que se muestran al seleccionar un tipo de grafica-->
                <div id="opciones_generales"  style="display: none;">

                    <!--selector para graficos de lineas, selecciona si mostrar 2 entradas o solo una
                    esta está conectada al div 'div_selector_generar_x_generar_y' que selecciona cual cual eje se generará a partir de 
                    estos-->
                    <div id="div_selector_uno_o_dos_entradas" style="display: none;">   
                        <select name="selector_uno_o_dos_entradas">
                            <option value="dos">2 ejes</option>
                            <option value="uno">generar el segundo eje</option>
                        </select>
                    </div>
                    <!-- / -->

                    <div id="div_filas">
                        <label for="filas">Filas</label>
                        <input type="text" name="filas" value="{{ filas_ }}">
                    </div>

                    <div>
                        <label for="columnas">Columnas:</label>
                        <input type="text" name="columnas" value="{{ columnas_ }}" required>
                    </div>
                    
                    <!-- conectada con el selector 'selector_uno_o_dos_entradas'-->
                    <div id="div_selector_generar_x_generar_y" style="display: none;">
                        <select name="selector_generar_x_generar_y">
                            <option value="generar_x">generar a x</option>
                            <option value="generar_y">generar a y</option>
                        </select>
                    </div>

                    
                </div>

            </div>


        </div>


            <!-- Opciones para Gráfico de Barras -->
            <div id="opciones_barras" style="display: none;" class="opciones_ads colores">
                <!-- Campos de entrada para opciones de gráfica de barras -->

                <div>
                    <label for="colores">colores</label>
                    <select name="barras_colores_por">
                        <option value="--" >--</option>
                        <option value="rango" {% if tipo_grafica_seleccionada == 'barras' and func(0)(opciones[0], types(0))  %}selected{% endif %}>
                            rango
                        </option>
                        <option value="lista" {% if tipo_grafica_seleccionada == 'barras' and func(0)(opciones[0], types(1))  %}selected{% endif %}> lista </option>
                    </select>
                </div>


                <div id="barras_color_cmap" style="display: none;">
                    <select name="barras_select_cmap">
                        <option value="pink" {% if tipo_grafica_seleccionada == 'barras' and opciones[0] == 'pink' %}selected{% endif %}>rosa</option>
                        <option value="bone" {% if tipo_grafica_seleccionada == 'barras' and opciones[0] == 'bone' %}selected{% endif %}>hueso</option>
                        <option value="Blues" {% if tipo_grafica_seleccionada == 'barras' and opciones[0] == 'Blues' %}selected{% endif %}>azul</option>
                        <option value="Reds" {% if tipo_grafica_seleccionada == 'barras' and opciones[0] == 'Reds' %}selected{% endif %}>rojo</option>
                        <option value="inferno" {% if tipo_grafica_seleccionada == 'barras' and opciones[0] == 'inferno' %}selected{% endif %}>infierno</option>
                    </select>
                </div>

                <div id="barras_color_list" style="display: none;">
                    <label for="_barras_mapa_de_color" >lista</label>
                    <input type="text" name="_barras_mapa_de_color_inp" {% if tipo_grafica_seleccionada == 'barras' and func(0)(opciones[0], types(1)) %}value="{{ opciones_ads[0] }}"{% endif %}>
                </div>

                <div>
                    <label for="barras_y_label">etiqueta en y</label>
                    <input type="text" name="barras_y_label" id="barras_y_label" {% if tipo_grafica_seleccionada == 'barras' %}value="{{ opciones_ads[1] }}"{% endif %}>
                </div>
                <div>
                    <label for="barras_x_label">etiqueta en x</label>
                    <input type="text" name="barras_x_label" id="barras_x_label" {% if tipo_grafica_seleccionada == 'barras' %}value="{{ opciones_ads[2] }}"{% endif %}>
                </div>

                <div>
                    <label for="barras_figsize">dimensiones</label>
                    <input type="text" name="barras_figsize" id="barras_figsize" {% if tipo_grafica_seleccionada == 'barras' %}value="{{ opciones_ads[3] }}"{% endif %}>
                </div>

                <div>
                    <label for="barras_width">linea</label>
                    <input type="text" name="barras_width" id="barras_width" {% if tipo_grafica_seleccionada == 'barras' %}value="{{ opciones_ads[4] }}"{% endif %}>
                </div>

                <div>
                    <select name="barras_agupar_por">
                        <option value="individual" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == 'individual' %}selected{% endif %}>individual</option>
                        <option value="sumatoria" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == 'sumatoria' %}selected{% endif %}>sumatoria</option>
                        <option value="medias" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == 'medias' %}selected{% endif %}>medias</option>
                        <option value="mediana" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == "mediana" %}selected{% endif %}>mediana</option>
                        <option value="moda" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == "moda" %}selected{% endif %}>moda</option>
                        <option value="formula" {% if tipo_grafica_seleccionada == 'barras' and opciones[5] == "formula" %}selected{% endif %}>formula</option>
                    </select>
                </div>

                <div id="entrada_para_formula_barras">
                    <label for="entrada_para_formula_barras"></label>
                    <input type="text" name="entrada_para_formula_barras_entrada">
                </div>
                
            </div>

            <!-- Opciones para Gráfico de Dispersión -->
            <div id="opciones_dispersion" style="display: none;" class="opciones_ads colores">
                <div>
                    <label for="titulo_dispersion">Título:</label>
                    <input type="text" name="titulo_dispersion" id="titulo_dispersion" {% if tipo_grafica_seleccionada == 'dispersion' %} value="{{ opciones_ads[0] }}"{% endif %}>
                </div>


                <div>
                    <label for="trazos_dispersion">Trazos:</label>
                    <input type="text" name="trazos_dispersion" id="trazos_dispersion" {% if tipo_grafica_seleccionada == 'dispersion' %} value="{{ opciones_ads[1] }}"{% endif %}>
                </div>
                
                <div>
                    <select name="arg_trazos">
                        <option value="False" id="falso_k_d" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[2] == 'False' %}selected{% endif %}>False</option>
                        <option value="True" id="verdadero_k_d" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[2] == 'True' %}selected{% endif %}>True</option>
                    </select>
                </div>

                <div name="div_tipo_mean_color_disp" id="div_tipo_mean_color_disp">
                    <label for="tipo_mean_color_dispersion">mean color por</label>
                    <select name="tipo_mean_color_dispersion">
                        <option value="--">--</option>
                        <option value="seleccionar">seleccionar</option>
                        <option value="random">random</option>
                    </select>
                </div>

                <div id="dev_mean_color_dispersion" name="dev_mean_color_dispersion" style="display: none;">
                    <label for="mean_color_dispersion">color del mean</label>
                    <select name="mean_color_dispersion">
                        <option value="pink" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[3] == 'pink' %}selected{% endif %}>pink</option>
                        <option value="red" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[3] == 'red' %}selected{% endif %}>red</option>
                        <option value="bone" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[3] == 'bone' %}selected{% endif %}>bone</option>
                        <option value="magma" {% if tipo_grafica_seleccionada == 'dispersion' and opciones[3] == 'magma' %}selected{% endif %}>magma</option>
                    </select>
                </div>

                <div>
                    <div id="kwargs_dispersion" style="display: none;">
                        <label for="kwargs_dispersion">kwargs</label>
                        <input type="text" name="kwargs_dispersion">
                        
                    </div>
                </div>

                <div name="size_puntos_disp" id="size_puntos_disp">
                    <label for="select_size_puntos_disp">tamaño de puntos</label>
                    <select name="select_size_puntos_disp">
                        <option value="0.5" {% if tipo_grafica_seleccionada == "dispersion" and opciones_ads[4] == "0.5"%}selected{% endif %}>0.5</option>
                        <option value="1" {% if tipo_grafica_seleccionada == "dispersion" and opciones_ads[4] == "1"%}selected{% endif %}>1</option>
                        <option value="1.5" {% if tipo_grafica_seleccionada == "dispersion" and opciones_ads[4] == "1.5"%}selected{% endif %}>1.5</option>
                        <option value="2" {% if tipo_grafica_seleccionada == "dispersion" and opciones_ads[4] == "2"%}selected{% endif %}>2</option>
                        <option value="area" {% if tipo_grafica_seleccionada == "dispersion" and opciones_ads[4] == "area"%}selected{% endif %}>area</option>
                    </select>

                <div name="colores_pts_dispr">
                    <label for="select_colores_pts_dispr">colores</label>
                    <select name="select_colores_pts_dispr">
                        <option value="c" {% if tipo_grafica_seleccionada == "dispersion" and opciones[5] == "c" %}selected{% endif %}>c</option>
                        <option value="random" {% if tipo_grafica_seleccionada == "dispersion" and opciones[5] == "random" %}selected{% endif %}>random</option>
                    </select>
                </div>

                <div>
                    <label for="input_alfa_disp">alfa</label>
                    <input type="text" name="input_alfa_disp" {% if tipo_grafica_seleccionada == "dispersion" %} value="{{ opciones_ads[6] }}"{% endif %}>
                </div>

                </div>
                
            </div>

            
            <!-- Opciones para Gráfico de Pastel -->
            <div id="opciones_pastel" style="display: none;" class="opciones_ads colores" >
                <!-- Campos de entrada para opciones de gráfica de pastel -->
                <div>
                    <label>colores</label>
                    <select name="pastel_colores_por" >
                        <option value="--">--</option>
                        <option value="lista" {% if tipo_grafica_seleccionada == 'pastel' and func(0)(opciones[0], types(1)) %}selected{% endif %}>lista</option>
                        <option value="rango" {% if tipo_grafica_seleccionada == 'pastel' and func(0)(opciones[0], types(0)) %}selected{% endif %}>rango</option>
                    </select>
                </div>



                <div name="pastel_colores_por_rango" id ="pastel_colores_por_rango" style="display: none;"> 
                <select name="selector_colores_pastel">
                    <option value="pink" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'pink' %}selected{% endif %}>rosa</option>
                    <option value="Blues" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Blues' %}selected{% endif %}>azul</option>
                    <option value="Purples" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Purples' %}selected{% endif %}>morado</option>
                    <option value="bone" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'bone' %}selected{% endif %}>hueso</option>
                    <option value="Oranges" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Oranges' %}selected{% endif %}>morado</option>
                    <option value="Reds" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Reds' %}selected{% endif %}> rojo </option>
                    <option value="inferno" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'inferno' %}selected{% endif %}>infierno</option>
                    <option value="Greens" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Greens' %}selected{% endif %}>verde</option>
                    <option value="Greys" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'Greys' %}selected{% endif %}>gris</option>
                    <option value="PuRd" {% if tipo_grafica_seleccionada == 'pastel' and opciones[0] == 'PuRd' %}selected{% endif %}>Pu-R</option>
                </select>
                </div>

                <div id="entrada_colores_pastel" style="display: none;">
                    <label>lista de colores</label>
                    <input type="text" id="entrada_colores_pastel_input" {% if tipo_grafica_seleccionada == 'pastel' and func(0)(opciones[0], types(1)) %} value="{{ opciones_ads }}" {% endif %}>
                </div>
                

                <div>
                    <label for="pastel_radio">radio</label>
                    <input type="text" name="pastel_radio" id="pastel_radio" {% if tipo_grafica_seleccionada == 'pastel' %} value="{{ opciones_ads[1] }}" {% endif %}>
                </div>

                <div>
                    <label for=centrado_pastel>centrado de la grafica</label>
                    <input type="text" id="centrado_pastel" name="centrado_pastel" {% if ygen is false %} value="(4,4)" {% elif tipo_grafica_seleccionado == 'pastel' and ygen is true %} value="{{ opciones_ads[2] }}" {% endif %}>
                </div>


                <div>
                    <label for="pastel_wedgeprops">wedgeprops</label>
                    <input type="text" name="pastel_wedgeprops"  id="pastel_wedgeprops" value='{"linewidth": 1, "edgecolor": "white"}'>
                </div>

                <div>
                    <label for="pastel_frame">frame</label>
                    <select name="pastel_frame">
                        <option value="True" {% if tipo_grafica_seleccionada == "pastel" and opciones_ads[4] == "True" %}selected{% endif %}>True</option>
                        <option value="False" {% if tipo_grafica_seleccionada == "pastel" and opciones_ads[4] == "False" %}selected{% endif %}>False</option>
                    </select>
                </div>
                
                
                <div>
                    <select name="pastel_modo_de_agrupacion" >
                        <option value="individual">individual</option>
                        <option value="sumatoria">sumatoria</option>
                        <option value="medias">medias</option>
                        <option value="mediana">mediana</option>
                        <option value="moda">moda</option>
                        <option value="formula">formula</option>
                        <option value="porcentaje">porcentaje</option>

                    </select>
                </div>
            </div>

            <!--opciones para el grafico de linea-->
            <div id="opciones_linea", style="display: none;" class="opciones_ads colores">
                
                <!--area conectada-->
                <div>
                    <select name="linea_select_dat">
                        <option value="mismos_datos_linea"{% if tipo_grafica_seleccionada == "linea" and opciones_ads[0] == "mismos_datos_linea" %}selected{% endif %}>mismos datos</option>
                        <option value="nuevos_datos_linea"{% if tipo_grafica_seleccionada == "liena" and opciones_ads[0]=="nuevos_datos_linea" %}selected{% endif %}>nuevos datos</option>
                    </select>
                </div>
                        <!--al seleccionarse la opcion de nuevos datos aparece la entrada para un nuevo file-->
                <div id="entrada_nuevo_file_linea" name="entrada_nuevo_file_linea" style="display: none;">
                    <label for="inp_entrada_nuevo_file_linea">nuevo file</label>
                    <input type="file" id="inp_entrada_nuevo_file_linea" name="inp_entrada_nuevo_file_linea">
                </div>
                <!--/area conectada-->
                
                <div>
                    <label for="inp_linea_segunda_linea_dx">fil o col</label>
                    <input type="text" name="inp_linea_segunda_linea_dx" id="inp_linea_segunda_linea_dx">
                </div>


                <div>
                    <label for="inp_linea_segunda_linea_dy">fil o col</label>
                    <input type="text" name="inp_linea_segunda_linea_dy" name="inp_linea_segunda_linea_dx">
                </div>

                <div>
                    <label for="liena_linewidth">line width</label>
                    <input id="liena_linewidth" name="liena_linewidth" {% if tipo_grafica_seleccionada == "linea" %}value="{{ opciones_ads[2] }}"{% endif %}>
                </div>

                

            </div>



            <div>
                <input type="submit" value="Generar Gráfica">
            </div>

            <!--opciones adicionales-->              

                <div class="container colores">

                    <div class="image-container">
                        <img src="{{ url_for('static', filename='show/' ~ fig ~ '.png') }}" alt="Imagen 1" class="full-screen-image">
                        <div class="close-button" onclick="closeFullScreen()">X</div>
                    </div>
                    
                    
                    <!-- settings -->
                    <div class="config-container">       
                        <div>configuracion</div>

                        <!--settings para la grafica de pastel-->

                        <div id="configuracion_pastel" {%if tipo_grafica_seleccionada == "pastel" %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            
                            <!-- seccion toda conectada -->
                            <div>
                                <label>agregar autopack</label>
                                <select name="selector_autopack_pastel">
                                    <option value="False" {%if tipo_grafica_seleccionada == "pastel"  and settings_ads[0] == "False" %}selected{% endif %}>desactivado</option>
                                    <option value="True" {%if tipo_grafica_seleccionada == "pastel"  and settings_ads[0] == "True" %}selected{% endif %}>activado</option>
                                </select>
                            </div>

                            <!-- si es true entonces se muestra el selector 
                                se muestra el selector para activar o desactivar la 
                                visualización del total-->

                            <div id="total_pct_pastel" name="total_pct_pastel" style="display: none;">
                                <label>mostrar el total</label>
                                <select name="total_pct_pastel_activar" >
                                    <option value="False" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[1] == "False" %}selected{% endif %}>desactivado</option>
                                    <option value="True" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[1] == "True" %}selected{% endif %}>activado</option>
                                </select>
                            </div>

                            <!--si se activa la visualización del total entonces se muestra la
                                entrada para indicar las unidades en las que está-->

                            <div id="unidades_de_totales_pastel" name="unidades_de_totales_pastel" style="display: none;">
                                <label for="entrada_unidades_de_totales_pastel">unidad de medida</label>
                                <input type="text" name="entrada_unidades_de_totales_pastel" id="entrada_unidades_de_totales_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[2] }}"{% endif %}>
                            </div>

                            <!--y se activa la entrada para la distancia del pct-->
                            <div name="pct_distance_pastel" id="pct_distance_pastel" style="display: none;">
                                <label for="inputpct_distance_pastel">distancia pct</label>
                                <input type="text" name="inputpct_distance_pastel" id="inputpct_distance_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[3] }}"{% endif %}>
                            </div>
                            <!-- /seccion toda conectada -->

                            <div>
                                <label for="hatch_pastel">hatch</label>
                                <input type="text" name="hatch_pastel" id="hatch_pastel" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[4] != "None" %}value="{{ settings_ads[4] }}"{% endif %}>
                            </div>

                            <div>
                                <label for="label_distance_pastel">distancia de las etiquetas</label>
                                <input name="label_distance_pastel" id="label_distance_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[5] }}"{% endif %}>
                            </div>

                            <div>
                                <label for="pastel_explode">explodear rebanada</label>
                                <input type="text" name="pastel_explode" id="pastel_explode" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[6] != "None" %}value="{{ settings_ads[6] }}"{% endif %}>
                            </div>

                            <div>
                                <label for="cuanto_explode_pastel">nivel de explode</label>
                                <input type="text" name="cuanto_explode_pastel" id="cuanto_explode_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[7] }}"{% endif %}>
                            </div>

                            <div>
                                <label for="start_angle_pastel">angulo de inicio</label>
                                <input type="text" name="start_angle_pastel" id="start_angle_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[8] }}"{% endif %}>
                            </div>
                            


                            <div>
                                <label for="text_porps_pastel">texto prop</label>
                                <input type="text" name="text_porps_pastel" id="text_porps_pastel" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[10] != "None" %}value="{{ settings_ads[10] }}" {% endif %}>
                            </div>


                            <!--area conectada-->
                            <div>
                                <label for="legend_pastel">leyenda</label>
                                <select name="legend_pastel">
                                    <option value="False" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[11] == "False" %}selected{% endif %}>--</option>
                                    <option value="True" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[11] == "True" %}selected{% endif %}>agregar leyenda</option>
                                </select>
                            </div>


                            <!-- si legend_pastel es verdadero se mostrarán los settings para la leyenda en el pastel-->
                            <div name="opciones_leyenda_pastel" id="opciones_leyenda_pastel" style="display: none;">

                                <div>
                                    <label for="legend_tit_pastel">titulo</label>
                                    <input type="text" name="legend_tit_pastel" id="legend_tit_pastel" {% if tipo_grafica_seleccionada == "pastel" %}value="{{ settings_ads[12] }}"{% endif %}>
                                </div>
                                
                                <div>
                                    <label for="leyend_loc_pastel">loc</label>
                                    <select name="leyend_loc_pastel">
                                        <option value="center" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[13] == "center" %}selected{% endif %}>centro</option>
                                        <option value="center left" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[13] == "center left" %}selected{% endif %}>centro a la izquierda</option>
                                        <option value="center right" {% if tipo_grafica_seleccionada == "pastel" and settings_ads[13] == "center right" %}selected{% endif %}>centro a la derecha</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="legend_loc_y_pastel">eje Y</label>
                                    <input type="range" min="-1" max="1" {% if tipo_grafica_seleccionada == "pastel" and ygen is true%}value="{{ settings_ads[14] }}"{% else %}value="0"{% endif %}  step=".1" name="legend_loc_y_pastel" id="legend_loc_y_pastel">
                                    <div id="value_legend_loc_y_pastel">0</div>
                                </div>
                                
                                <div>
                                    <label for="legend_loc_x_pastel">eje x</label>
                                    <input type="range" min="-1" max="1" {% if tipo_grafica_seleccionada == "pastel" and ygen is true%}value="{{ settings_ads[14] }}"{% else %}value="0"{% endif %} step=".1" name="legend_loc_x_pastel" id="legend_loc_x_pastel">
                                    <div id="value_legend_loc_x_pastel">0</div>
                                </div>
                                <!--/area conectada-->
                                
                                <div>
                                    <label for="filter_def_pastel">filter svg</label>
                                    <input type="text" id="filter_def_pastel" name="filter_def_pastel">
                                </div>
                                
                            </div>

                            <!--area conectada de figura extra-->
                            <label for="figura_extra_pastel">figura extra</label>
                                <select name="figura_extra_pastel">
                                    <option value="--">--</option>
                                    <option value="barra">barra</option>
                                </select>

                                

                            <!--al seleccionar alguna de las figuras extra, se mostraran los settings especiales para la figura extra-->
                            <div name="setting_barra_pastel" id="setting_barra_pastel" style="display: none;">
                                <!--subconeccion-->
                                <select name="pastel_barra_mism_arch_nuev">
                                    <option value="mismo">mismo archivo</option>
                                    <option value="nuevo">nuevo archivo</option>
                                </select>
                                <div name="entrada_arch_barra_pastel" id="entrada_arch_barra_pastel" style="display: none;">
                                    <input type="file" accept=".csv .xlsx" name="entrada_arch_barra_pastel_input" id="entrada_arch_barra_pastel_input">
                                </div>
                                <input type="text" name="barra_pastel_oculto" id="barra_pastel_oculto" style="display: none;">
                                <!--/subconeccion-->
                                 
                                <div>
                                    <label for="f_c_barra_pastel_y">columna o fila </label>
                                    <input type="text" name="f_c_barra_pastel_y" id="b_c_barra_pastel_y">
                                </div>

                                <div>
                                    <label for="f_c_barra_pastel_x">columna o fila </label>
                                    <input type="text" name="f_c_barra_pastel_x" id="b_c_barra_pastel_x">
                                </div>

                                <div>
                                    <label for="bottom_barra_pastel">bottom</label>
                                    <input type="text" name="bottom_barra_pastel" id="bottom_barra_pastel">
                                </div>

                                <div>
                                    <label for="barras_pastel_width">width</label>
                                    <input type="text" name="barras_pastel_width" id="barras_pastel_width">
                                </div>

                                <div>
                                    <label for="colores_barra_pastel">color</label>
                                    <select name="colores_barra_pastel"> 
                                        <option value="C0">C0</option>
                                    </select>
                                </div>
                                
                                <label for="titulo_barra_pastel">titulo</label>
                                <input type="text" name="titulo_barra_pastel" name="titulo_barra_pastel">

                                <div>
                                    <label for="pastel_rebanada_conectada_barra">conectar a rebanada</label>
                                    <input type="text" name="pastel_rebanada_conectada_barra" id="pastel_rebanada_conectada_barra">
                                </div>

                            </div>
            

                        </div>

                        <!--settings para la grafica de dispersion-->
                        <div id="configuracion_dispersion" {% if tipo_grafica_seleccionada == "dispersion" %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <div id="grid_para_disp" name="grid_para_disp">
                                <label for="grid_para_disp_select"></label>

                                <select name="grid_para_disp_select" >
                                    <option value="False" {% if tipo_grafica_seleccionada == "disperson" and settings_ads[0] == "False" %}selected{% endif %}>desactivado</option>
                                    <option value="True" {% if tipo_grafica_seleccionada == "dispersion" and settings_ads[0] == "True" %}selected{% endif %}>activado</option>
                                </select>
                            </div>


                            
                        </div>

                        <!--settings para la grafica de barras-->
                        <div id="configuracion_barras" {% if tipo_grafica_seleccionada == "barras" %}style="display: block;"{% else %}style="display: none;" {% endif %}>
                            
                            <div id="agregar_linea_barras">
                                <label for="select_agregar_linea_barras">agregar linea</label>
                                <select name="select_agregar_linea_barras">
                                    <option value="False"{% if tipo_grafica_seleccionada == "barras" and settings_ads[0] == "False" %}selected{% endif %}>desactivado</option>
                                    <option value="True"{% if tipo_grafica_seleccionada== "barras" and settings_ads[0] == "True" %}selected{% endif %}>activado</option>
                                </select>
                            </div>

                            



                        </div>


                        <!--settings para la grafica de linea-->

                        <div id="configuracion_linea" {%if tipo_grafica_seleccionada == "linea" %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                            <div>
                                <label for="select_linea_figextra">figura extra</label>
                                <select name="select_linea_figextra">
                                    <option value="--">--</option>
                                    <option value="linea">linea</option>
                                </select>
                            </div>
                            
                            <!--settings figura extra de linea-->
                            <div id="linea_figura_extra_settings_linea" name="linea_figura_extra_settings_linea" style="display: none;">
                                <div>configuracion de figura extra</div>
                                
                                <div>
                                    <select name="linea_fig_extra_nuev_dat" >
                                        <option value="misma">misma</option>
                                        <option value="nueva">nueva</option>
                                    </select>
                                </div>

                                <div name="data_linea_linea_extra" id="input_data_linea_linea_extra" style="display: none;">
                                    <label for="input_data_linea_linea_extra">file</label>
                                    <input type="file" name="input_data_linea_linea_extra" id="input_data_linea_linea_extra">
                                </div>

                                <div>
                                    <label for="linea_fila_y">fila</label>
                                    <input type="text" id="linea_fila_y" name="linea_fila_y">
                                </div>

                                <div>
                                    <label for="linea_fila_x">columna</label>
                                    <input id="linea_fila_x" name="linea_fila_x">
                                </div>

                                

                                <div>segunda linea</div>

                                <div>
                                    <label for="selector_nuev_dat_segundalinea_linea_extra"></label>
                                    <select name="selector_nuev_dat_segundalinea_linea_extra">
                                        <option value="mismos">mismos datos</option>
                                        <option value="nuevos">nuevos datos</option>
                                    </select>
                                </div>
                                    <!--al seleccionarse nuevos se mostrará la entrada para el nuevo file-->

                                <div name="div_nuev_dat_segundalinea_linea_extra" id="div_nuev_dat_segundalinea_linea_extra" style="display: none;">
                                    <label for="inp_nuev_dat_segundalinea_linea_extra">entrada de archivo</label>
                                    <input type="file" id="inp_nuev_dat_segundalinea_linea_extra" name="inp_nuev_dat_segundalinea_linea_extra">
                                </div>


                                <div>
                                    <label for="inp_ej_y_segunda_linea_linea_extra_linea">fila</label>
                                    <input type="text" id="inp_ej_y_segunda_linea_linea_extra_linea" name="inp_ej_y_segunda_linea_linea_extra_linea">
                                </div>
                                
                                <div>
                                    <label for="inp_ej_x_segunda_linea_linea_extra_linea">fila</label>
                                    <input type="text" id="inp_ej_x_segunda_linea_linea_extra_linea" name="inp_ej_x_segunda_linea_linea_extra_linea">
                                </div>

                                <div>
                                    <label for="entrada_linewidth_linea_extra_linea">linewidth</label>
                                    <input type="text" id="entrada_linewidth_linea_extra_linea" name="entrada_linewidth_linea_extra_linea">
                                </div>



                            </div>

                        </div>




                    </div>

                </div>

            

            <!-- Campo oculto para almacenar las opciones de Gráfico de Barras -->
                <input type="hidden" name="opciones_barras" id="opciones_barras">

                <!-- Campo oculto para almacenar las opciones de Gráfico de Dispersión -->
                <input type="hidden" name="opciones_dispersion" id="opciones_dispersion">

                <!-- Campo oculto para almacenar las opciones de Gráfico de Pastel -->
                <input type="hidden" name="opciones_pastel" id="opciones_pastel">

            
            
        </div>    
    </form>

    <footer>
        <div id="footer">
            <div class="footer-section redes">
                <h2>Redes</h2>
                <ul>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://www.youtube.com">YouTube</a></li>
                    <li><a href="https://github.com/kuchinisu/plt-sb_interfaz" target="_blank">GitHub</a></li>
                </ul>
            </div>
        
            <div class="footer-section documentacion">
                <h2>Documentación</h2>
                    <ul>
                        <li><a href="docs/manual.pdf">Manual de usuario</a></li>
                        <li><a href="docs/api.pdf">Documentación de la API</a></li>
                    </ul>
                <h2>compranos una Dona</h2>
                <li> <a href="https://www.paypal.com/mx/home" target="_blank">dona en paypal</a></li>
            </div>
        
            <div class="footer-section trabajo">
                <h2>Oportunidades de trabajo</h2>
                <p>¡Únete a nuestro equipo! Estamos buscando personas apasionadas por la tecnología.</p>
                <a href="trabajo.html">Ver oportunidades</a>
            </div>
        </div>
        
    </footer>
    
</body>


<script>
    // principal
    // Esta parte del script de js es para mostrar las opciones para el tipo de grafica seleccionada
    //todas las areas de ajustes para la creacion de las graficas están ocultas, y solo se mostrará el menú 
    // de opciones especifico del tipo de grafica seleccionado en el select del fprmulario
    
    // Obtén el elemento select del tipo de gráfico y todos los divs de opciones
    const tipoGraficaSelect = document.querySelector("select[name='tipo_grafica']");
    const opcionesBarras = document.getElementById("opciones_barras");
    const opcionesDispersion = document.getElementById("opciones_dispersion");
    const opcionesPastel = document.getElementById("opciones_pastel");
    const opcionesLinea = document.getElementById("opciones_linea");
    const opcionesGenerales = document.getElementById("opciones_generales");
    const selectDosFilasUnaFila = document.getElementById("div_selector_uno_o_dos_entradas");
    

    // Agrega un evento para escuchar cambios en la selección
    tipoGraficaSelect.addEventListener("change", function () {
        // Oculta todas las opciones adicionales primero 
        opcionesBarras.style.display = "none";
        opcionesDispersion.style.display = "none";
        opcionesPastel.style.display = "none";
        opcionesLinea.style.display = "none";
        opcionesGenerales.style.display = "none";
        selectDosFilasUnaFila.style.display = "none";
        



        // Obtén el valor seleccionado
        const tipoGraficaSeleccionado = tipoGraficaSelect.value;

        // muestra las opciones generales si hay un tipo de grafica seleccinada
        if(tipoGraficaSeleccionado !== "--"){
            opcionesGenerales.style.display = "block";

            // Muestra las opciones adicionales según el tipo de gráfico seleccionado
        if (tipoGraficaSeleccionado === "barras") {
            opcionesBarras.style.display = "block";
        } else if (tipoGraficaSeleccionado === "dispersion") {
            opcionesDispersion.style.display = "block";
        } else if (tipoGraficaSeleccionado === "pastel") {
            opcionesPastel.style.display = "block";
        } else if (tipoGraficaSeleccionado == "linea"){
            opcionesLinea.style.display = "block";
            selectDosFilasUnaFila.style.display = "block";
            
            
        }


        };

        // Establecer las opciones en los campos ocultos
        if (tipoGraficaSeleccionado === "barras") {
            document.getElementById("opciones_barras").value = opcionesSeleccionadas;
        } else if (tipoGraficaSeleccionado === "dispersion") {
            document.getElementById("opciones_dispersion").value = opcionesSeleccionadas;
        } else if (tipoGraficaSeleccionado === "pastel") {
            document.getElementById("opciones_pastel").value = opcionesSeleccionadas;
        }

    });


    const selectorUnaFilasODos = document.querySelector("select[name='selector_uno_o_dos_entradas']")
    const inpFilas = document.getElementById("div_filas")
    const generarXyY = document.getElementById("div_selector_generar_x_generar_y")


    selectorUnaFilasODos.addEventListener("change", function(){
        inpFilas.style.display="block"
        generarXyY.style.display = "none";

        const filasUnaFilaSeleccionada = selectorUnaFilasODos.value;

        if(filasUnaFilaSeleccionada === "uno"){
            inpFilas.style.display = "none"
            generarXyY.style.display = "block"
        }
    });

    // principal end/


    // dispersion
    // Area de ajustes y settings extras de dispersion

    // muestra entrada para kwargs si es q se selecciona como activado
    const DispersionKwargsActivadosONo = document.querySelector("select[name='arg_trazos']");
    const verdaderoKwActDisp = document.getElementById("kwargs_dispersion");
    //cambios 
    DispersionKwargsActivadosONo.addEventListener("change", function(){
        verdaderoKwActDisp.style.display = "none";

        //opcion seleccionada
        const kwDispSeleccionado = DispersionKwargsActivadosONo.value;

        if (kwDispSeleccionado === "False") {
            verdaderoKwActDisp.style.display="none";
        }else if (kwDispSeleccionado === "True") {
            verdaderoKwActDisp.style.display="block";
        }
    });

    //modo de coloreado de media
    const tipoColoreadoMedia = document.querySelector("select[name='tipo_mean_color_dispersion']")
    const selectorColorMedia = document.getElementById("dev_mean_color_dispersion")

    tipoColoreadoMedia.addEventListener("change", function(){
        selectorColorMedia.style.display = "none";

        const modoColorMediaSeleccionado = tipoColoreadoMedia.value;

        if (modoColorMediaSeleccionado=="seleccionar"){
            selectorColorMedia.style.display = "block";
        };
    });
    //dispersion end


    // barras
    // elementos de modo de color del grafico de barras
    
    const SelectModoDeColorBarras = document.querySelector("select[name='barras_colores_por']");
    const EntradaDeListaDeColoresBarras = document.getElementById("barras_color_list");
    const SelectorDeRangoDeColoresBarras = document.getElementById("barras_color_cmap");

    SelectModoDeColorBarras.addEventListener("change", function() {
        EntradaDeListaDeColoresBarras.style.display = "none";
        SelectorDeRangoDeColoresBarras.style.display = "none";

        const ModoDeColoresDeBarrasSeleccionado = SelectModoDeColorBarras.value;
        
        if (ModoDeColoresDeBarrasSeleccionado === "lista"){
            EntradaDeListaDeColoresBarras.style.display = "block";
        } else if (ModoDeColoresDeBarrasSeleccionado === "rango"){
            SelectorDeRangoDeColoresBarras.style.display = "block";
        }
    }); 

    ///
    // tipo de agrupacion en las graficas de barra
        //interactúa con los menus para el tipo de agrupacion de los datos para graficarlos
    
    const SelectTipoDeAgrupacionBarras = document.querySelector("select[name='barras_agupar_por']");
    const EntradaParaFormulasBarra = document.getElementById("entrada_para_formula_barras");

    SelectTipoDeAgrupacionBarras.addEventListener("change", function() {
        EntradaParaFormulasBarra.style.display = "none";

        const TipoDeAgrupacionElegidoBarras = SelectTipoDeAgrupacionBarras.value;

        if (TipoDeAgrupacionElegidoBarras === "formula"){
            EntradaParaFormulasBarra.style.display = "block";
        } else EntradaParaFormulasBarra.style.display = "none";
    });

    // barra end

    /// cosas para grafica de pastel
    ///selector de modo de coloreado en la grafica de pastel
    const selectColorPorPastel = document.querySelector("select[name='pastel_colores_por']");
    const pastelColoresPorRango = document.getElementById("pastel_colores_por_rango");
    const pastelColoresPorLista = document.getElementById("entrada_colores_pastel");

    selectColorPorPastel.addEventListener("change", function() {
        pastelColoresPorRango.style.display = "none";
        pastelColoresPorLista.style.display = "none";

        const pastelmodoSeleccionado = selectColorPorPastel.value;

        if (pastelmodoSeleccionado === "rango") {
            pastelColoresPorRango.style.display = "block";
        } else if (pastelmodoSeleccionado === "lista") {
            pastelColoresPorLista.style.display = "block";
        } 
    });

    // creo que esta parte no sirve en realidad, recuerdo que intentaba hacer algo pero no recuerdo que 
    const formularioCompleto = document.getElementById("formulario");
    const settingsPastel = document.getElementById("configuracion_pastel")

    formularioCompleto.addEventListener("submit", function(event) {
        event.preventDefault();

    settingsPastel.style.display = "none";
    
    const grafSeleccionado = tipoGraficaSelect.value;
    if (grafSeleccionado === "pastel"){
        settingsPastel.style.display = "block"
    }
        // me parece que lo que intentaba hacer con esto mejor lo hice usando jinja
                    //ah ya recuerdo que intentaba, quería que no se eliminaran las opciones en los settings 
                    //extras de edicion del grafico, pero mejor simplemente use jinja para devolver los valores
                    // dados a la funcion 'gener' en el archivo matplt.py ya que esta a su vez los regrasa nuevamente
                    // al formulario html. 'gener' es la funcion que interactúa directamente con la interfaz de html, 
                    // esta en el arcivo flaskr/matplt.py

});

    // de ser activado el autopack para la grafica de pastel
    //en las funciones del backend mostrará el porcentaje al que equivale la rebanada del pastel, y además se va a
    //otro select para esoger si se quiere mostrar el total del valor de la rebanada junto al porcentaje

    const selectorAutopacPastel = document.querySelector("select[name='selector_autopack_pastel']");
    const selectorMostrarTotalPastel = document.getElementById("total_pct_pastel");

    selectorAutopacPastel.addEventListener("change", function() {
        selectColorPorPastel.style.display = "none";

        const autopasPastelSeleccionado = selectorAutopacPastel.value;

        if (autopasPastelSeleccionado === "True") {
            selectorMostrarTotalPastel.style.display = "block";
        };
    });

    // al activarse como la opcion de si mostrar el total de las unidades de la rebanada se activa una entrada
    // para poner el tipo de unidad al que equivale este total si es que se quiere
    const totalPastelesActivarSelector = document.querySelector("select[name='total_pct_pastel_activar']")
    const unidadesDeTotalesPastel = document.getElementById("unidades_de_totales_pastel")

    totalPastelesActivarSelector.addEventListener("change", function(){
        unidadesDeTotalesPastel.style.display="none";

        const TotalPastelesSeleccionado = totalPastelesActivarSelector.value;

        if (TotalPastelesSeleccionado === "True") {
            unidadesDeTotalesPastel.style.display = "block";
        };

    });

    // al activar que se muestre una leyenda en el backend va a mostrar esa leyenda en la grafica de pastel
    // y la siguiente parte del script mostrará las opciones de ajustes para la leyenda; la ubicacion dentro del 
    // grafico y los inptur range para ajustar la ubicacion de esta
    const legendPastel = document.querySelector("select[name='legend_pastel']");
    const settingsLeyendaPastel = document.getElementById("opciones_leyenda_pastel");

    legendPastel.addEventListener("change", function(){
        settingsLeyendaPastel.style.display = "none";

        legendPastelActiv = legendPastel.value;

        if (legendPastelActiv === "True"){
            settingsLeyendaPastel.style.display = "block";
        };
    });


    // al cambiar el rango del input range se tiene que ajustar el numero que aparece abajo de esta, para
    // visualizar el valor de esta

    tipoGraficaSelect.dispatchEvent(new Event("change"));
    
    const barra_pastel_y = document.getElementById("legend_loc_y_pastel");
    const valor_barra_pastel_y = document.getElementById("value_legend_loc_y_pastel");

    barra_pastel_y.addEventListener("input", function() {
    valor_barra_pastel_y.textContent = barra_pastel_y.value; // aqui cambia el valor que aparece bajo el input según el valor que tenga el input,
                                                                // se va cambiando a medida ajustas este input
    });

    const barra_pastel_x = document.getElementById("legend_loc_x_pastel");
    const valor_barra_pastel_x = document.getElementById("value_legend_loc_x_pastel");

    barra_pastel_x.addEventListener("input", function() {
        valor_barra_pastel_x.textContent = barra_pastel_x.value; // aqui sucede lo mismo pero con la segunda entrada range
    });

    // aparecer los settings para fig extra de pastel

    const selectorTipoFiguraPastelExtra=document.querySelector("select[name='figura_extra_pastel']")
    const settingsBarraExtrPastel=document.getElementById("setting_barra_pastel")

    selectorTipoFiguraPastelExtra.addEventListener("change", function(){
        settingsBarraExtrPastel.style.display = "none"; 

        const TipoFiguraPastelExtraSeleccionada = selectorTipoFiguraPastelExtra.value;
        if(TipoFiguraPastelExtraSeleccionada === "barra"){
            settingsBarraExtrPastel.style.display = "block";
        }
    });


    // cosas para grafica de linea
    // mostrar u ocultar la entrada para un nuevo file de csv

    const selectorNuevoFileLinea = document.querySelector("select[name='linea_select_dat']")
    const entradaNuevoFileLinea = document.getElementById("entrada_nuevo_file_linea2")

    selectorNuevoFileLinea.addEventListener("change", function() {
        entradaNuevoFileLinea.style.display = "none";
        const fileLineaSeleccionado = selectorNuevoFileLinea.value;

        if (fileLineaSeleccionado == "nuevos_datos_linea"){
            entradaNuevoFileLinea.style.display = "block"
        }


    });

    // mostrar u ocultar los settings para la figur estra de linea

    const selectorFiguraExtraLinea = document.querySelector("select[name='select_linea_figextra']")
    const settingsLineaFiguraExtraLinea = document.getElementById("linea_figura_extra_settings_linea")

    selectorFiguraExtraLinea.addEventListener("change", function() {
        settingsLineaFiguraExtraLinea.style.display = "none";

        const figuraExtraLineaSeleccionada = selectorFiguraExtraLinea.value;

        if (figuraExtraLineaSeleccionada == "linea"){
            settingsLineaFiguraExtraLinea.style.display="block"
        }
        
    });

    //mostrar u ocultar una nueva entrada para archivos en linea extra para linea
    //data_linea_linea_extra
    const selectorNuevosDatosLineaDeLinea = document.querySelector["select[name='linea_fig_extra_nuev_dat']"];
    const inputNuevosDatosLineaLinea = document.getElementById("input_data_linea_linea_extra")

    selectorNuevosDatosLineaDeLinea.addEventListener("change", function() {
        inputNuevosDatosLineaLinea.style.display = "none";

        const nuevosDatosLineaDeLineaSeleccionado = selectorNuevosDatosLineaDeLinea.value;

        if (nuevosDatosLineaDeLineaSeleccionado === "nueva"){
            inputNuevosDatosLineaLinea.style.display = "block";
        }

    });


</script> 
</html>